@import './assets/theme/variables.scss';
@import './assets/theme/typography.scss';

body {
  background-color: $background-color;
  color: $on-light-bg;
  fill: $on-light-bg;
}

a {
  text-decoration: none;
}
a,
a:visited {
  color: $mdc-theme-primary;
}
a:focus {
  outline: none;
}
a:hover {
  color: #eea5a5;
}
a.active {
  color: #222222;
  cursor: default;
}

.container {
  margin: 16px;
}
@media only screen and (max-width: 599px) {
  .container {
    margin: 8px;
  }
}

.border-bottom--primary {
  border-bottom: 1px solid $mdc-theme-primary;
}

.no-margins {
  margin: 0;
}

@import '@material/theme/mdc-theme';
