@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.text--center {
  text-align: center;
}
.text--uppercase {
  text-transform: uppercase;
}
.font--light {
  font-weight: 300;
}

#logo__name {
  border-bottom: 4px solid steelblue;
  margin-bottom: 3px;
  letter-spacing: 2px;
  line-height: 60px;
}
