/*
 * Color variables
 */
$background-color: #FAFAFA;

$primary-color: #e57373;
$primary-color-hue1: #ffa4a2;
$primary-color-hue2: #af4448;

$secondary-color: #bdbdbd;
$secondary-color-hue1: #efefef;
$secondary-color-hue2: #8d8d8d;
$on-light-bg: #000000;
$on-dark-bg: #000000;
