@import './assets/theme/theme.scss';

:root, html, body {
  height: 100%;
  margin: 0;
}

.grid {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 80px auto;
}

.grid > .container__top {
  grid-row: 1;
}
.grid > .container__portfolio {
  grid-row: 2;
  padding: 16px;
}
.grid__portfolio {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 8px;
}
.portfolio__card {
  height: 200px;
  background-color: $secondary-color;
}
.grid > .container__cover {
  grid-row: 3;
  display: flex;
  flex-flow: column;
  padding: 16px;
  justify-content: center;
  align-items: center;
}

/*
 * Components
 */
.top-app-bar {
  height: 100px;
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: $primary-color;
}
.top-app-bar__title {
  flex: auto;
}
